{% extends "main.html" %}

{% block main %}
<div class="container mt-5">
    <!-- <h1 class="mb-4"><i class="fa-solid fa-user-plus"></i> Cadastro de Empresa</h1> -->

    <form id="form">
        <input type="hidden" name="acao" id="acao" value="{{acao}}">
        <input type="hidden" name="id" id="id" value="{{empresa.id}}">

        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#perfil"
                    type="button" role="tab" aria-controls="perfil" aria-selected="true">Perfil</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#endereco" type="button"
                    role="tab" aria-controls="endereco" aria-selected="false">Endereço</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contato" type="button"
                    role="tab" aria-controls="contato" aria-selected="false">Contato</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
                    type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false"
                    disabled>Disabled</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
                <h1>Dados do Empresa</h1>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="nome_fantasia" name="nome_fantasia"
                                placeholder="nome_fantasia" required value="{{empresa.nome_fantasia}}">
                            <label for="nome_fantasia"><i class="fa-solid fa-user"></i> Nome Fantasia</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="razao" name="razao" placeholder="razao"
                                required value="{{empresa.razao}}">
                            <label for="razao"><i class="fa-solid fa-user"></i> Sobrenome | Razão Social</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="cnpj" name="cnpj" placeholder="cnpj" required
                                value="{{empresa.cnpj}}">
                            <label for="cnpj"><i class="fa-solid fa-id-card"></i> CNPJ</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="celular" name="celular"
                                placeholder="Telefone" required value="{{empresa.celular}}">
                            <label for="celular"><i class="fa-solid fa-phone"></i> Telefone</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="whatsapp" name="whatsapp"
                                placeholder="Whatsapp" required value="{{empresa.whatsapp}}">
                            <label for="whatsapp"><i class="fa-brands fa-whatsapp"></i> Whatsapp</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control fs" id="email" name="email" placeholder="Email"
                                required value="{{empresa.email}}">
                            <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control fs" id="ie" name="ie" placeholder="ie" required
                                value="{{empresa.ie}}">
                            <label for="ie"><i class="fa-solid fa-id-card"></i> IE</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control fs" id="senhaCadastro" name="senhaCadastro"
                                placeholder="Senha" required>
                            <label for="senhaCadastro"><i class="fa-solid fa-lock"></i> Senha</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-floating mb-3">
                            <label for="data_abertura"><i class="fa-solid fa-calendar"></i> Data de Abertura</label>
                            <input type="date" class="form-control fs" id="data_abertura" name="data_abertura"
                                placeholder="data_abertura" required value="{{empresa.data_abertura}}">
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="status" name="status" required>
                            <label class="form-check-label" for="status">Ativo?</label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <a href="/empresa/lista" class="btn btn-danger me-2">
                        <i class="fa-solid fa-ban"></i> Cancelar
                    </a>
                    <button class="btn btn-success" type="button" id="insert">
                        <i class="fa-solid fa-floppy-disk">
                        </i>Salvar</button>
                </div>
            </div>
            <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab" tabindex="0">
                <h1>Dados do endereço</h1>
            </div>
            <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contato-tab" tabindex="0">
                <h1>Dados de contato</h1>
            </div>

        </div>
    </form>
</div>

{% endblock %}

{% block script %}
{% include "script.html" %}
<script defer type="module" src="/js/empresa.js"></script>
{% endblock %}