{% extends "main.html" %}

{% block main %}
<div class="container mt-5">
  <div class="card text-center">
    <h1 class="display-4 mb-3">Bem-vindo(a), {{EMPRESA}}</h1>
    <p class="lead mb-4">Gerencie seus usuários, clientes e fornecedores com segurança e facilidade.</p>
    <div class="d-flex justify-content-center gap-3">
      <a href="/usuario/lista" class="btn btn-success btn-lg"><i class="fa-solid fa-users"></i> Usuários</a>
      <a href="/cliente/lista" class="btn btn-primary btn-lg"><i class="fa-solid fa-user-tie"></i> Clientes</a>
      <a href="/fornecedor/lista" class="btn btn-warning btn-lg"><i class="fa-solid fa-truck"></i> Fornecedores</a>
    </div>
  </div>
</div>
{% endblock %}
