{% extends "main.html" %}

{% block main %}

<div class="container">
    <form id="form">
        <input type="hidden" id="id" name="id">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 mt-3 mb-3">
                    <a href="/usuario/cadastro" class="btn btn-primary btn-sm btn-success"><i
                            class="fa-solid fa-user-plus"></i>
                        Novo Usuario
                    </a>
                </div>
                <div class="col-12">
                    <h1><i class="fa-solid fa-users me-2"></i>
                        Usuarios Cadastrados
                    </h1>
                    <div class="col-6 mt-3">
                        <div class="form-floating mb-3">
                            <input type="search" class="form-control fs" id="pesquisa" name="pesquisa"
                                placeholder="Pesquisar">
                            <label for="pesquisa"><i class="fa-solid fa-magnifying-glass"></i>
                                Digite seu Nome
                            </label>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><i class="fa-solid fa-fingerprint"></i>Código</th>
                                <th><i class="fa-solid fa-user"></i>Nome</th>
                                <th><i class="fa-solid fa-user"></i>Sobrenome</th>
                                <th><i class="fa-solid fa-id-card"></i>CPF</th>
                                <th><i class="fa-solid fa-id-card"></i>Rg</th>
                                <th><i class="fa-solid fa-cog"></i>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="listacliente">
                            <tr>
                                <td>001</td>
                                <td>Lucas</td>
                                <td>Silva</td>
                                <td>123.456.789-00</td>
                                <td>12.345.678-9</td>
                                <td>
                                    <button type="button" id="delete" class="btn btn-danger btn-sm"
                                        onclick="deletar('5')">
                                        <i class="fas fa-trash"></i> Excluir
                                    </button>
                                </td>
                            </tr>

                        </tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}
    {% block script %}
    {% include "script.html" %}
    <script defer type="module" src="/js/listuser.js"></script>
    {% endblock %}